<h2>Выслать инструкцию подтверждения</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |form| %>
  <%= devise_error_messages! %>
  <%= form.inputs do %>
    <%= form.input :email %>
  <% end %>
  <%= render :partial => "devise/shared/submit", :locals => { :form => form, :submit => :resend_confirmation } %>
<% end %>
