<h3 class='big_margin_top'>Ответ на обращение</h3>

<%= semantic_form_for @appeal.reply || @appeal.build_reply,
                      :url => appeal_reply_path(@appeal),
                      :html => { :remote => true } do |form| %>
  <%= form.inputs do %>
    <%= form.input :number %>
    <%= form.input :replied_on, :as => :string,
                   :input_html => {
                     :class => "datepicker",
                     :value => @appeal.reply.replied_on ? I18n.l(@appeal.reply.replied_on) : ""
                   } %>
    <%= form.input :replied_by %>
    <%= form.input :text %>
    <%= form.input :public if @appeal.public %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button t('reply'), :button_html => { :class => 'button reply' } %>
  <% end %>
<% end %>
