<h3 class='big_margin_top'>Ответ на обращение</h3>

<div class="reply_info" can_close=<%= @appeal.state_events.include?(:to_close) %>>
  <%= show_attribute(@appeal.reply, :number) %>
  <%= show_attribute(@appeal.reply, :replied_on) %>
  <%= show_attribute(@appeal.reply, :replied_by) %>
  <%= show_attribute(@appeal.reply, :public) %>
</div>

<div class="reply_info">
  <%= show_attribute(@appeal.reply, :text) %>
</div>

<%= content_tag :div, :class => "appeal_info" do %>
  <div class="show_attribute text">
    <%= link_to(t("show_upload"), "#", :class => "button icon arrowdown upload_link", :id => "reply_file_wrapper", :params => params.merge('appeal_id' => @appeal.id).to_query)%>
    <div class="reply_file_wrapper">
    </div>
  </div>
<% end if @appeal.root_path %>

<%= link_to t("edit_reply"),
            edit_appeal_reply_path(@appeal),
            :remote => true,
            :class => 'button icon edit reply_link' if can?(:update, @appeal.reply) %>

