<h3>Обращение с кодом <%= @appeal.code %> от <%= l @appeal.created_at %></h3>

<ul>
  <li>зарегистрировано <%= l @appeal.registration_registered_on %> с номером <%= @appeal.registration_number %>,
  <% unless @appeal.registration_directed_to.blank? %>ответственный <%= @appeal.registration_directed_to %><% end %></li>
  <li>получен ответ с номером <%= @appeal.reply_number %> от <%= l @appeal.reply_replied_on %>, ответственный <%= @appeal.reply_replied_by %></li>
  <li>по этому адресу <%= link_to public_appeal_url(@appeal.code), public_appeal_url(@appeal.code) %> Вы сможете отслеживать процесс рассмотрения обращения </li>
</ul>
