<p>
  Обращение от <%= l @appeal.created_at %> зарегистрировано <%= l @appeal.registration_registered_on %> с номером <%= @appeal.registration_number %>.
  <% unless @appeal.registration_directed_to.blank? %>
    Ответственный за рассмотрение <%= @appeal.registration_directed_to %>
  <% end %>
</p>
<p>
  Получен ответ <%= @appeal.reply_number %> от <%= @appeal.reply_replied_on %>.
  Ответственный <%= @appeal.reply_replied_by %>.
</p>
