<%= semantic_form_for [:public, @appeal] do |form| %>
  <%= form.inputs do %>
    <%= form.input :topic %>
    <%= form.input :surname %>
    <%= form.input :name %>
    <%= form.input :patronymic %>
    <%= form.input :answer_kind, :as => :radio, :collection => @appeal.class.enum_values(:answer_kind) %>
    <%= form.input :email %>
    <%= form.input :phone %>
    <%= form.input :text %>
    <%= form.input :public %>
  <% end %>

  <%= form.semantic_fields_for :address do |address| %>
    <%= address.inputs :postcode, :region, :district, :township, :street, :house, :building, :flat %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button %>
    <li>
      <%= link_to t('cancel'), :back, :class => 'button cancel' %>
    </li>
  <% end %>
<% end %>
