<h1><%= t 'new_appeal' %></h1>

<%= semantic_form_for @appeal, :url => public_section_appeals_path(@section.slug), :html => { :multipart => true } do |form| %>
  <%= render :partial => "fields", :locals => { :form => form } %>
  <%= form.buttons do %>
    <li><%= link_to t('cancel'), :back, :class => 'button cancel' %></li>
    <%= form.commit_button :button_html => {:class => 'button primary'} %>
  <% end %>
<% end %>
