<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
var remote_wrapper = $('.remote_wrapper');
remote_wrapper.bind('ajax:before', function(){remote_wrapper.addClass("ajax_loading");}).live('ajax:success', function(evt, data, status, xhr){remote_wrapper.removeClass("ajax_loading");remote_wrapper.html(data);});
//]]>
</script>
<%= semantic_form_for @appeal, :url => public_section_appeals_url(@section.slug), :remote => true, :html => { :multipart => true } do |form| %>
  <div><input type="hidden" name="X-REQUESTED-WITH" value="XMLRequest" /></div>
  <%= render :partial => "fields", :locals => { :form => form } %>
  <%= form.buttons do %>
    <%= form.commit_button :button_html => {:class => 'button primary'} %>
    <li><%= link_to t('cancel'), :back, :class => 'button cancel' %></li>
  <% end %>
<% end %>
