<%= semantic_form_for @check_status, :url => check_status_path do |form| %>
  <h3>Введите код обращения</h3>
  <%= form.semantic_errors %>
  <%= form.inputs do %>
    <%= form.input :part1, :label => false, :input_html => { :maxlength => 3 } %>
    <%= form.input :part2, :label => false, :input_html => { :maxlength => 3 } %>
    <%= form.input :part3, :label => false, :input_html => { :maxlength => 3 } %>
    <%= form.input :part4, :label => false, :input_html => { :maxlength => 3 } %>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit, :label => t('check_status'), :button_html => { :class => 'button big primary' } %>
  <% end %>
<% end %>
