<h2>Изменение пароля</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |form| %>
  <%= devise_error_messages! %>
  <%= form.inputs do %>
    <%= form.input :reset_password_token, :as => :hidden %>
    <%= form.input :password %>
    <%= form.input :password_confirmationd %>
  <% end %>
  <%= render :partial => "devise/shared/submit", :locals => { :form => form, :submit => :change_password } %>
<% end %>
