<div class="actions button-group<%= margin_top ? ' big_margin_top' : '' %>">
  <%= semantic_form_for @appeal, :url => close_appeal_path(@appeal), :html => {:method => :post} do |form| %>
    <%= form.buttons do %>
      <%= form.commit_button t('close'), :button_html => { :class => "button primary close #{'disable' unless @appeal.state_events.include?(:close)}" } %>
    <% end %>
  <% end if @appeal.registered? %>

  <%= semantic_form_for @appeal, :url => revert_appeal_path(@appeal), :html => {:method => :post} do |form| %>
    <%= form.buttons do %>
      <%= form.commit_button t("revert_from_#{@appeal.state}"), :button_html => { :class => 'button revert' } %>
    <% end %>
  <% end if @appeal.state_events.include?(:revert) %>

  <%= link_to t('to_trash'), @appeal, :method => :delete, :class => 'button danger trash icon' unless @appeal.deleted? || @appeal.closed? %>

  <%= semantic_form_for @appeal, :url => restore_appeal_path(@appeal), :html => { :method => :post } do |form| %>
    <%= form.buttons do %>
      <%= form.commit_button t("restore"), :button_html => { :class => 'button restore' } %>
    <% end %>
  <% end if @appeal.deleted? %>
</div>
