<%= render :partial => 'appeal_title' %>

<ul>
  <%= content_tag :li, "поступило #{l(@appeal.created_at.to_date)}" if @appeal.is_a?(KremlinAppeal) %>
  <li>зарегистрировано <%= l @appeal.registration_registered_on %> с номером <%= @appeal.registration_number %></li>
  <li>переадресовано &mdash; <%= @appeal.redirect.recipient %></li>
  <%= render :partial => 'appeal_url' %>
</ul>

