<h3>Обращение с кодом <%= @appeal.code %> от <%= l @appeal.created_at %></h3>

<ul>
  <li>зарегистрировано <%= l @appeal.registration_registered_on %> с номером <%= @appeal.registration_number %></li>
  <li>переадресовано &mdash; <%= @appeal.redirect.recipient %></li>
  <li>по этому адресу <%= link_to appeal_url(@appeal.code), appeal_url(@appeal.code) %> Вы сможете отслеживать процесс рассмотрения обращения </li>
</ul>

