<p id="notice"><%= notice %></p>

<p>
  <b>Surname:</b>
  <%= @appeal.surname %>
</p>

<p>
  <%= render @appeal.registration unless @appeal.fresh? %>
  <%= render :partial => 'registrations/form' if @appeal.fresh? %>
</p>

<%= render :partial => 'replies/form' if @appeal.registred? %>

<%= semantic_form_for @appeal, :url => revert_appeal_path(@appeal), :html => {:method => :post} do |form| %>
  <%= form.commit_button 'вернуть' %>
<% end %>

<%= semantic_form_for @appeal, :url => close_appeal_path(@appeal), :html => {:method => :post} do |form| %>
  <%= form.commit_button 'закрыть' %>
<% end %>

<%= link_to 'Back', scoped_appeals_path(:folder => @appeal.state) %>
