<p id="notice"><%= notice %></p>

<p>
  <b>Surname:</b>
  <%= @appeal.surname %>
</p>

<p>
  <%= render @appeal.registration %>
</p>

<%= semantic_form_for @appeal, :url => revert_appeal_path(@appeal), :html => {:method => :post} do |form| %>
  <%= form.commit_button 'вернуть' %>
<% end %>

<%= link_to 'Back', scoped_appeals_path(:folder => @appeal.state) %>
