<% content_for :header do %>
  <h1><%= link_to t("appeal_system"), root_path %></h1>
<% end %>

<% content_for :sidebar do %>
  <div class="sidebar">
    <div class='nav'>
      <h5>Список обращений</h5>
      <%= render_navigation :context => :appeal, :renderer => :list_with_counters %>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <div class='section'>
    <div class="appeal_search_wrapper">
      <%= semantic_search_form_for :appeal, :url => scoped_appeals_path(:folder => params[:folder]) do |form| %>
        <%= form.inputs do %>
          <%= form.input :keywords, :as => :string %>
        <% end %>
        <%= form.buttons do %>
          <%= form.commit_button :search, :button_html => { :class => 'button' } %>
          <%= content_tag :li, link_to(t('clear'), scoped_appeals_path(params[:forder]), :class => 'button') if params[:appeal_search] && !params[:appeal_search][:keywords].blank? %>
        <% end %>
      <% end %>
    </div>
    <div class='article' style='margin-top: 43px;'>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/layer' %>
