<h2>Вход</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>
  <%= form.inputs do %>
    <%= form.input :email, :input_html => { :class => "focus_first" } %>
    <%= form.input :password %>
    <%= form.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  <% end %>
  <%= render :partial => "devise/shared/submit", :locals => { :form => form, :submit => :sign_in } %>
<% end %>

