<% content_for :header do %>

  <h1><%= link_to 'Отправить письмо губернатору', root_path %></h1>
  <div class="composed_title">
    <%= link_to t('check_status'), new_check_status_path, :class => 'button' %>
  </div>
<% end %>

<%= content_for :content do %>
  <div class='content_wrapper'>
    <%= yield %>
  </div>
<% end %>

<%= render :template => 'layouts/layer' %>

